<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.studydb.mapper.UserMapper">
    <select id="selectByUsername" resultType="org.example.studydb.model.entity.User">
        SELECT * FROM tb_user WHERE username = #{username}
    </select>
</mapper>